# Ignore system files
.DS_Store
Thumbs.db

# Ignore sensitive or environment files
.env
config.php
.admin/config/smtp_details.php

# Ignore log and backup files
*.log
*.bak
*.tmp

# Ignore vendor or dependency folders 
vendor/
node_modules/

# Ignore IDE/project files
.vscode/
.idea/
*.code-workspace
/vendor/
/composer.lock
.env

